.page-content {
  .portlet {
    .portlet-body {
      .table-responsive {
        .table {
          margin-bottom: 0px;

          thead {
            th {
              font-weight: bold;
            }
          }

          tbody {
            .phone {
              margin: 0;
            }

            .status {
              &.status-1 { color: #5CB85C; }
              &.status-2 { color: #F0AD4E; }
              &.status-4 { color: #D9534F; }
            }

            .link-icon {
              margin-left: 5px;

              &.status-1 { color: #5CB85C; }
              &.status-2 { color: #F0AD4E; }
              &.status-4 { color: #D9534F; }

              &:first-child {
                margin-left: 0px;
              }
            }
          }
        }
      }
    }
  }
}