<div class="page-content" ng-init="initialize()">
  <!-- BEGIN PAGE HEADER-->
  <h3 class="page-title">Teachers</h3>
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <a href="/">Home</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="/teachers">Teachers</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="">{{ teacher.firstname + ' ' + teacher.lastname + ' (' + teacher.nickname + ')' }}</a>
      </li>
    </ul>
  </div>
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <teacher-personal-info data-teacher="teacher" data-editable="true"></teacher-personal-info>
        <teacher-contact-info data-contacts="teacher.contacts" data-editable="false"></teacher-contact-info>
      </div>
      <div class="col-md-6">
        <address-info data-address="teacher.address" data-editable="true"></address-info>
      </div>
    </div>
        
  </div>
  <!-- END PAGE CONTENT-->
</div>