<div class="portlet light bordered teacher-contact-info">
  <div class="portlet-title">
    <div class="caption font-green-sharp">
      <span class="caption-subject bold uppercase">{{ 'LABEL.CONTACT_INFO' | translate }}</span>
    </div>
    <div class="actions" ng-hide="isEditMode">
      <a href="" class="btn btn-circle btn-default btn-sm" ng-click="isEditMode = true">
        <i class="fa fa-pencil"></i>
        {{ 'LABEL.EDIT' | translate }}
      </a>
    </div>
  </div>
  <div class="portlet-body form">
    <form ng-hide="isEditMode" role="form" class="form-horizontal form-row-seperated">
      <div class="form-body">
        <div class="row">
          <div class="col-md-12">
            <h3 class="form-section">{{ 'LABEL.PHONES' | translate }}</h3>
            <div class="form-group" ng-repeat="phone in teacher.phones">
              <label class="control-label col-md-5">{{ phone.label }}:</label>
              <div class="col-md-7">
                <p class="form-control-static"><strong>{{ phone.value | displayedPhoneNumber }}</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <form ng-show="isEditMode" role="form" class="form-inline form-row-seperated">
      <div class="form-body">
        <div class="row">
          <div class="col-md-12">
            <h3 class="form-section">{{ 'LABEL.PHONES' | translate }}</h3>
            <div ng-repeat="phone in teacher.phones">
              <div class="form-group">
                <div class="col-md-5">
                  <input type="text" class="form-control" placeholder="{{ 'PLACEHOLDER.LABEL' | translate }}" ng-model="phone.label" />
                </div>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="{{ 'PLACEHOLDER.PHONE_NUMBER' | translate }}" ng-model="phone.value" />
                </div>
              </div>
            </div>
            <div class="form-actions text-right">
              <button type="submit" class="btn blue">{{ 'LABEL.SUBMIT' | translate }}</button>
              <button type="button" class="btn default" ng-click="isEditMode = false">{{ 'LABEL.CANCEL' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>